<div cass="clard" style="width: 20rem;margin-top: 5%;margin-left: 10%;margin-bottom: 10%;text-align: center;background-color: #30475e;color:white">
<h1>Usuario, elige un Training
    Journey para ayudarte a
    ponerte en forma</h1>
    <div cass="clard" style="text-align: center;background-color: white;color:#30475e;margin-right: 2%;margin-left: 2%;">
        <h1>Empieza con energía y
            persevera</h1>
            <br>
            <h2>18 sesiones - 6 semanas aprox.</h2>
            <br>
            <div style="text-align: left;">
                <button type="button" class="btn btn-secondary" style="margin-bottom: 5%;" (click)="inicio()">PARA PRINCIPIANTES</button>
                <button type="button" class="btn btn-secondary" style="margin-bottom: 5%;" (click)="inicio()">EJERCICIOS MÁS FÁCILES</button>
                <button type="button" class="btn btn-secondary" style="margin-bottom: 5%;" (click)="inicio()">INTENSIDAD GRADUAL</button>
                <button type="button" class="btn btn-secondary" style="margin-bottom: 5%;" (click)="inicio()">GANAR ESTABILIDAD</button>
                <button type="button" class="btn btn-secondary" style="margin-bottom: 5%;" (click)="inicio()">AUMENTAR TU RITMO CARDÍACO</button>

            </div>
            <button type="button" style="color:#30475e" class="btn btn-link">Mostrar mas...</button>
    </div>
    <br>
</div>
