<div cass="clard" style="width: 20rem;margin-top: 5%;margin-left: 10%;margin-bottom: 10%;text-align: center;background-color: #30475e;color:white">
    <h1>Empieza con energía y
        persevera</h1>
    <h4>18 sesiones - 6 semanas aprox.</h4>
    <br>
    <p>cardio </p>
    <p>musculatura</p>
    <h4>20 - 40 min/sesión | Elige días por semana</h4>
    <br>
    <br>
    <h2>Resumen</h2>
    <br>
    <p>Ideal para principiantes que quieran
        aumentar su ritmo cardíaco mientras
        alcanzan un nivel básico de fuerza y cardio</p>
        <br>
    <h2>Equipamiento opcional</h2>
    <br>
    <p>Cuanto más equipamiento uses, más
        variedad tendrán tus entrenamientos.
        Puedes añadir o eliminar equipamineto en
        la configuración del Coach</p>
    <br>
    <div style="text-align: left;">
        <button type="button" class="btn btn-secondary" style="margin-bottom: 5%;" (click)="inicio()">PARA PRINCIPIANTES</button>
        <button type="button" class="btn btn-secondary" style="margin-bottom: 5%;" (click)="inicio()">EJERCICIOS MÁS FÁCILES</button>
        <button type="button" class="btn btn-secondary" style="margin-bottom: 5%;" (click)="inicio()">INTENSIDAD GRADUAL</button>
        <button type="button" class="btn btn-secondary" style="margin-bottom: 5%;" (click)="inicio()">GANAR ESTABILIDAD</button>
        <button type="button" class="btn btn-secondary" style="margin-bottom: 5%;" (click)="inicio()">AUMENTAR TU RITMO CARDÍACO</button>

    </div>
    <button type="button" style="color:#30475e" class="btn btn-link">Mostrar mas...</button>
    <h5>Fases del Training Journey</h5>
    <p>El Coach utiliza esta semana para ver tu
        rendimiento</p>
    <br>
    <h5>Semana 2- 5: Entrenamiento
        personalizado</h5>
    <p>Mejorar tu forma física a medida que el
        Coach aumenta de forma gradual la
        intensidad</p>
    <br>
    <h5>Semana 6: Reto final</h5>
    <p>Demuestra lo que has logrado enfrentándote
        a los workouts más duros de Freeletics</p>
    <br>
    <h5>Terminar Training Journey</h5>
    <p>Elige uno nuevo o repite este</p>
</div>