
<div class="card" style="width: 20rem;margin-top: 5%;margin-left: 10%;margin-bottom: 10%;text-align: center;background-color: #30475e;color:white">
    <h1>¡Ya casí está!</h1>
    <br>
    <h2>Crea una cuenta para acceder a tu plan de entrenamiento personalizado</h2>
    <br>
    <button type="button" class="btn btn-light" style="margin-left:5%;margin-right:5%;"><i class="bi bi-google" (click)="inicio()">Google</i></button>
    <br>
    <button type="button" class="btn btn-light" style="margin-left:5%;margin-right:5%;"><i class="bi bi-facebook" (click)="inicio()">Facebook</i></button>
    <br>
    <a>la informacion no sera compartida</a>
    <br>
    <button type="button" class="btn btn-outline-light" style="margin-left:5%;margin-right:5%;" (click)="inicio()">Ingresar con un correo electronico</button>
    <br>
    <p (click)="inicio()">Ya tengo cuenta</p>
    <br>
    <p>Al crear una cuenta, acepto los Terminos de
        uso y la política de privacidad de lots of
        exercise</p>
</div>
